.button-container {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin-right: 5px;
}

.button-navbar svg, img {
    margin-right: 5px;
}


.icon {
    font-size: 20px;
}
