.button-container {
    display: flex;
    background-color: black;
    width: 400px;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

svg{
    margin-right: 5px;
}

.button-navbar {
    outline: 0 !important;
    border: 0 !important;
    width: 100px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.button-navbar:hover {
    transform: translateY(-3px);
}

.icon {
    font-size: 20px;
}
