.card-container{
    background-color: black;
    margin: 25px 0;
    width: fit-content;
    border-radius: 0.75em;
    transition: ease 0.2s;
    box-shadow: 1em 1em 1em #1a1a1a, -0.75em -0.75em 1em #1a1a1a;
    border: 2px solid #1a1a1a;
    position: relative;
    overflow: hidden auto;
}

.card-container:hover {
    border: 2px solid #1677ff;
}

.container {
    margin: 0 1.25em;
    display: flex;
    flex-direction: row;
    gap: 0.75em;
}
