.card-container{
    background-color: black;
    margin: 25px 0 ;
    width: fit-content;
    border-radius: 0.75em;
    cursor: pointer;
    transition: ease 0.2s;
    box-shadow: 1em 1em 1em #1a1a1a, -0.75em -0.75em 1em #1a1a1a;
    border: 2px solid #1a1a1a;
}

.card-container:hover {
    background-color: #1a1a1a;
    border: 2px solid #1677ff;
}

.container {
    margin: 1.25em 2em 1.375em 1.375em;
    display: flex;
    flex-direction: row;
    gap: 0.75em;
}